header{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0rem;
    padding: 1.6rem 3.2rem;
    position: fixed;
    top: 0rem;
    width: 100%; 
    z-index: 99;
}

#main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding-left: 0rem;
}

#main-nav>li{
    padding: .8rem;
}

#main-nav>li>a{
    color: #fff;
    font-size: 2.4rem;
    padding: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 500ms ease-in-out;
}
#main-nav>li>a:hover{
    color: $blue;

}