*{ box-sizing: border-box; }
html{
    font-size: 62.5%;
    background: $black;
    font-family: 'Oswald', sans-serif;
}
body{
    font-size: 1.6rem;
}

a{
    color: $blue;
}
a:hover{
    text-decoration: none;
}


section{
    min-height: 100vh;
}

.section-padding-y{
    padding-top: $l-size;
    padding-bottom: $l-size;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}