$black : #0a0909;
$off-black : #171111;

$gray : #adaaaa;
$gray-lite : #e0dcdc;
$gray-dark : #5c5a5a;


$off-white: #faf7f7;

$primary : #c23030;
$primary-lite : #f54949;
$primary-dark : #8a1e1e;

$secondary : #7BD2F6;
$secondary-lite : #2082A1;
$secondary-dark : #004559;








$blue-lite : #7BD2F6;
$blue : #2082A1;
$blue-dark : #004559;


$xs-size: 1.6rem;
$s-size: 4rem;
$m-size: 8rem;
$l-size: 12rem;
$xl-size: 16rem;

$xl-screen : 1400px;
$l-screen: 1200px;
$m-screen: 1000px;
$sm-screen: 767px;
$xs-screen: 565px;